body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../signup/4.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.container{
    margin-top: 6%;
}
.nav-link {
    padding-right: 1.5rem !important;
    padding-left: .5rem !important;
}

.text-center>h2{
    font-size: 6.5rem !important;
    color: #fff;
    text-shadow: 3px 7px 12px black;
    margin-top: 20px;
    
}
